<app-base></app-base>
<div class="dashboard-content">
  <button style="margin:50px" class="btn btn-default" data-toggle="modal" data-target="#demoModal">
      Sourcing Form
  </button>
</div>

<!--DEMO MODAL -->
<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
          <h5 class="modal-title" id="myModalLabel">Sourcing/DSA Master</h5>
        </div>
        <div class="modal-body">


          <form (ngSubmit)="sourcingMasterDetails(sourcingMasterForm.value)" #sourcingMasterForm="ngForm">
            <div class="form-group">
								<label>DSA Name</label>
								<input type="text" class="form-control" [(ngModel)]="model.dsaName" #dsaName="ngModel" placeholder="DSA Name" name="dsaName">
            </div>
            <div class="form-group">
								<label>Location</label>
								<input type="text" class="form-control" [(ngModel)]="model.location" #location="ngModel" placeholder="Location" name="location">
            </div>
            <div class="form-group">
              <label>State</label>
              <input type="text" class="form-control" [(ngModel)]="model.state" #state="ngModel" placeholder="State" name="state">
          </div>
            <div class="form-group">
								<label>PAN Number</label>
								<input type="text" class="form-control" [(ngModel)]="model.panNumber" #panNumber="ngModel" placeholder="PAN Number" name="panNumber">
            </div>
            <div class="form-group">
								<label>GST Number</label>
								<input type="text" class="form-control" [(ngModel)]="model.gstNumber" #gstNumber="ngModel" placeholder="GST Number" name="gstNumber">
            </div>
            <div class="form-group">
                <label>Loan Type/Product</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="loanType" [(ngModel)]="model.loanType" value="PL" checked="true">
                      PL(Personal Loan)
                    </label>
                    <label>
                      <input type="radio" [(ngModel)]="model.loanType" value="HL" name="loanType">
                      HL(Home Loan)
                    </label>
                    <label>
                      <input type="radio" [(ngModel)]="model.loanType" value="BL" name="loanType">
                      BL(Business Loan)
                    </label>
                    <label>
                      <input type="radio" [(ngModel)]="model.loanType" value="EL" name="loanType">
                      EL(Education Loan)
                    </label>
                    <label>
                      <input type="radio" [(ngModel)]="model.loanType" value="EP" name="loanType">
                      EP(Equipment Loan)
                    </label>
                  </div>
            </div>
            <div class="form-group">
								<label>Address</label>
								<input type="text" class="form-control" [(ngModel)]="model.address" #address="ngModel" placeholder="Address" name="address">
            </div>
            <div class="form-group">
								<label>Bank Account Details</label>
								<input type="text" class="form-control" [(ngModel)]="model.accountDetails" #accountDetails="ngModel" placeholder="Account Details" name="accountDetails">
            </div>
            <button class="btn btn-danger btn-round">
              Save
            </button>
          </form>
        
        
        </div>
      </div>
    </div>
  </div>  
<!--  End Modal -->