<app-base></app-base>

        <div class="dashboard-content">

            

            <div class="input-heading"><h1>Branch Master Details</h1></div>
            <div>
                    <mat-form-field class="search-box">
                            <mat-icon matPrefix>search</mat-icon>
                          <input type="text" placeholder="Search Branch By Branch Name" aria-label="Branch Name" 
                                
                               matInput [formControl]="searchByBranchNameControl" [matAutocomplete]="auto"
                                     
                               [(ngModel)]="branch" (ngModelChange)="branchByBranchName(branch)">
          
                          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let branch of filteredOptions | async" [value]="branch">
                              {{ branch.branchName }}
                            </mat-option>
                          </mat-autocomplete>
                    </mat-form-field>
              </div>

            <form>

                    <div class="input-field-2">
  
                            <mat-form-field class="input-field">
                                <input type="text" placeholder="Branch Name" aria-label="Branch Name" matInput [formControl]="branchNameControl" [(ngModel)]="model.branchName">
                            </mat-form-field>
                
                            <mat-form-field class="input-field">
                                <input type="text" placeholder="Branch Address" aria-label="Branch Address" matInput [formControl]="branchAddressControl" [(ngModel)]="model.branchAddress">
                            </mat-form-field>
                
                            <mat-form-field class="input-field">
                                <input type="text" placeholder="Branch Manager Name" aria-label="Branch Manager" matInput [formControl]="branchManagerControl" [(ngModel)]="model.branchManagerName">
                            </mat-form-field>
                
                
                            <mat-form-field class="input-field">
                              <input type="text" placeholder="Branch Code" aria-label="Branch Code" matInput [formControl]="branchCodeControl" [(ngModel)]="model.branchCode"/>
                            </mat-form-field>
                
                
                            <mat-form-field class="input-field">
                              <input type="text" placeholder="Status" aria-label="Status" matInput [formControl]="statusControl" [(ngModel)]="model.activeStatus"/>
                            </mat-form-field>
                
                
                            <mat-form-field class="input-field">
                              <input type="text" placeholder="Designation" aria-label="Designation" matInput [formControl]="designationControl" [(ngModel)]="model.designation"/>
                            </mat-form-field>
                
                    </div>
                    <div class="input-button">
                            <button mat-button mat-raised-button color="primary" (click)="branchMasterDetails()">Save</button>
                    </div>
                
            </form>
        </div>