.dashboard-content{
    height: auto;
    width: calc(100% - 300px);
    margin-left: 275px;
    padding: 15px;
    overflow: hidden;
    /* background: #fafafa ; */
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }