
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#" data-toggle="tooltip" title="LOS">{{ logo }}</a>
        <a class="navbar-brand"  data-toggle="tooltip" title="" (click)="changeShowStatus()"><i class="fa fa-stack-exchange" style="font-size: 24px;"></i></a>
        </div>
       
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/" (click)="logout($event)"data-toggle="tooltip" title="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" data-toggle="tooltip" title="settings"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</nav>

<aside class="sidebar-dashboard side-nav"  [ngClass]="{'sidebar': isClassVisible, 'sidebar_mob': isMobClassVissible}" >
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" title="Master Creation">
                <h4 class="panel-title">
                    <span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>     
                    <a data-toggle="tooltip"  title="master-creation" *ngIf ="show"><span class="mob_none">&nbsp; &nbsp; &nbsp;Master Creation<i class="fa fa-chevron-down" aria-hidden="true"></i></span></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse ">
            <div class="panel-body">
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/stateMaster']">StateMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/cityMaster']">CityMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/districtMaster']">DistrictMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/countryMaster']">CountryMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/regionMaster']">RegionMaster</a></li> -->
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/branchMaster']">Branch Master</a></li>
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/salesmanagerMaster']">Sales Manager Master</a></li>
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/sourcingMaster']">Sourcing Master</a></li>
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/supplierMaster']">Supplier Master</a></li>
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/chargecodeMaster']">Charge Code Master</a></li>

                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/manufactureMaster']">ManufactureMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/modelMaster']">ModelMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/departmentMaster']">DepartmentMaster</a></li> -->
                    <!-- <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/bounceResonMaster']">BounceReasonMaster</a></li> -->
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/productMaster']">Product Master</a></li>
                    <li class="list-group-item"><span><i class="fa fa-address-book" aria-hidden="true"></i><span>&nbsp; &nbsp; &nbsp;</span></span><a [routerLink]="['/schemeMaster']">Scheme Master</a></li>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" title="Dashboard">
                <h4 class="panel-title">
                    <span><i class="fa fa-dashboard" ></i></span>
                    <a data-toggle="tooltip" title="dashboard" *ngIf ="show"><span class="mob_none">&nbsp; &nbsp; &nbsp;<a [routerLink]="['/dashboard']">Dashboard</a></span></a>
                </h4>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" title="User Management">
                <h4 class="panel-title">
                    <span><i class="fa  fa-users" ></i></span>
                    <a data-toggle="tooltip" title="User Management" *ngIf ="show"><span class="mob_none">&nbsp; &nbsp; &nbsp;<a [routerLink]="['/userManagement']">User Management</a></span></a>
                </h4>
            </div>
        </div>
    </div> 

    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" title="Dashboard">
            <h4 class="panel-title">
                <span><i class="fa fa-plus-circle" ></i></span>
                <a data-toggle="tooltip" title="dashboard" *ngIf ="show"><span class="mob_none">&nbsp; &nbsp; &nbsp;<a [routerLink]="['/newLoan']">New Loan</a></span></a>
            </h4>
        </div>
    </div>
</aside>


