body{
    background: #fafafa ;
    height: 100%;
    position: absolute;  
}

.navbar{
    border-radius:0px;
    background: #0052CC;
    border:none !important;
    margin-bottom: 0px;
}

.navbar-brand{
    color:#fff;
    font-weight:bold;
}

.navbar-right li a{
    color:#fff;
}
.top30 { margin-top:30px; }

.navbar-right li a .fa{
    font-size:15px;
}

.sidebar-dashboard{
    position: absolute;
    width:250px;
    height: calc(100% - 70px);
    left:0;
    top:70px;
    background: #fff;
    color: #000;
    border-right: 1px solid #ccc;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    transition: 0.5s;
}



.panel{
    margin-bottom: 0px;
    border-radius:0px;
    border: none;
    border-bottom:1px solid #ccc;
    background: transparent;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.panel-title{
    font-size:13px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #000;
}

.panel-title a .fa{
    float: right;
}

.panel a{
    color:#000;
    text-decoration: none;
}

.panel-default>.panel-heading{
    background:none;
    cursor: pointer;
}

.panel[_ngcontent-c0] a[_ngcontent-c0] {
    color: #000 !important;
    font-weight: bold;
}

.panel-group .panel+.panel{
    margin-top: 0px;
}

.panel-body{
    padding: 0px;
}

.list-group-item{
    background-color: #fff;
    border: none;
    border-bottom:1px solid #ccc !important;
    color:#000;
    margin-bottom: 0px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.sidebar{
	width: 60px;
	overflow: hidden;
	transition: 0.5s;
}

.side-nav{
	transition: 0.5s !important;
	overflow: hidden !important;
}
