The Recieved ID is :{{selectedId}}<br><br>


<nav class="navbar navbar-transparent navbar-fixed-top" id="sectionsNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand" href="#">CredenceSoft</a>
            </div>
           
        </div>
      </nav>
      
      <div class="image-container set-full-height" style="background-image: url('assets/img/wizard-profile.jpg')">
       
      <!--  Made By CredenceSoft  -->
      <a href="https://credencesoft.co.nz" class="made-with-mk">
        <div class="brand">CS</div>
        <div class="made-with">credencesoft
          <strong>.co.nz</strong>
        </div>
      </a>
      
        <!--   Big container   -->
        <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                  <!--      Wizard container        -->
                  <div class="wizard-container">
                      <div class="card wizard-card" data-color="green" id="wizardProfile">
                          <form #passwordForm="ngForm" (ngSubmit)="resetPassword(passwordForm.value)">
                              <div class="wizard-header">
                                  <h3 class="wizard-title">
                                    Password Reset
                                  </h3>
                              </div>
                              <div>
                                <mat-form-field class="center1">
                                  <input matInput placeholder="Password" 
                                  ngModel required name="password" (ngModelChange)="pwd($event)" #password="ngModel">
                                </mat-form-field>
                                <span *ngIf="password.touched && password.errors?.required">
                                    password is required
                                </span>
                              </div>
                              <div>
                                <mat-form-field class="center2">
                                  <input matInput placeholder="Confirm Password" ngModel required 
                                  name="confirmPassword" (ngModelChange)="confPwd($event)" #confirmPassword="ngModel">
                                </mat-form-field>
                                <span *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                                    confirm password is required
                                </span>
                              </div>
                              <div>
                                <span *ngIf="passwordBlankMessage">
                                  Both Password and Confirm Password Required
                                </span>
                                <span *ngIf="passwordNotMatchedError">
                                  password and confirm password doesn't matched
                                </span>
                                <span *ngIf="passwordMatchedSuccess">
                                  password and confirm password matched
                                </span>
                              </div>
                              <div class="forgot-password-button">
                                <button [disabled]="!passwordForm.valid" class="btn btn-danger btn-round">
                                    Reset Password
                                </button>
                              </div>
                        </form>
                      </div>
                  </div> <!-- wizard container -->
              </div>
            </div><!-- end row -->
        </div> <!--  big container -->
      
        <div class="footer">
            <div class="container text-center">
                 Made with <i class="fa fa-heart heart"></i> by <a href="https://credencesoft.co.nz">CredenceSoft</a>. <br> <a href="https://credencesoft.co.nz">Copyright © 2018 CredenceSoft -  All Rights Reserved.</a>
            </div>
        </div>
      </div>