
.dashboard-content{
    height: auto;
    width: calc(100% - 300px);
    margin-left: 275px;
    padding: 15px;
    overflow: hidden;
    /* background: #fafafa ; */
}



.widget{
    color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: block;
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px;
    width: 23%;
}

#widget_first{
    background-color: #2b0645;
    
}

#widget_second{
    background-color: #747474;
}

#widget_third{
    background-color: #6227ae;
}

#widget_fourth{
    background-color: #ea125e;
}

.dataTable_contsiner{
    padding: 12px;
}

.widgets-container{ 
    margin: 15px 0 3px 0; 
}

.card{
    border: 1px solid #ccc;
    height: 120px;
    box-shadow: 5px 10px 18px #888888;
    padding: 10px;
}

.card p{
    
    text-transform: uppercase;
    color: #fff;
}

.card_one{
    background: #3F729B;
    border: 1px solid #3F729B;
}

.card_two{
    background: #ffbb33 ;
    border: 1px solid #ffbb33 ;
}

.card_three{
    background: #2BBBAD;
    border: 1px solid #2BBBAD;
}

.card_four{
    background: #3E4551;
    border: 1px solid #3E4551;
}

.card i{
    font-size: 19px;
    color: #fff;
}

* {box-sizing: border-box}

.containerr {
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  height: 30px;
  margin: 20px 0;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 30px;
  height: 30px;
  color: white;
  border-radius: 50px;
}

.card_bar_one {width: 80%; background-color: #2196F3;}
.card_bar_two {width: 40%; background-color: #2196F3;;}
.card_bar_three {width: 65%; background-color:#2196F3;;}
.card_bar_four {width: 60%; background-color: #2196F3;;}

@media only screen and (max-width: 1024px) {
    .sidebar-dashboard{   
        width:50px;  
    }

    .sidebar-dashboard a{
        display: none;
    }
    
}

.content_box{
	width: calc(100% - 60px) !important;
	margin-left: 65px !important;
	transition: 0.5s !important;
}

.top{
    margin-top:50px; 
}
.counter{
    font-size: 30px;
    color: #fff;
    text-align: center;
}








































