<app-base></app-base>

<div class="dashboard-content" [ngClass]="{'content_box': isClassVisible}" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 widgets-container" title="Total Applicants">
                <div class="card card_one">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                    <p>Total Applicants</p>
                      <p class="counter"><b>{{classReference.total_applicants}}</b></p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 widgets-container" title="Pending Applicants">
                <div class="card card_two">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                    <p>Pending Applicants</p>
                    <p class="counter"><b>{{classReference.pending_applicants}}</b></p>        
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 widgets-container" title="New Applicants">
                <div class="card card_three">
                    <i class="fa  fa-user-circle-o" aria-hidden="true"></i>
                    <p>New Applicants</p>
                    <p class="counter"><b>{{classReference.new_applicants}}</b></p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 widgets-container" title="Approved Applicants">
                <div class="card card_four">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                        <p>Approved Applicants</p>
                        <p class="counter"><b>{{classReference.approved_applicants}}</b></p>
                </div>
            </div>
        </div>
        <!-- DataTable
        <div class="row top">
            <div  id="" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 top30  ">
                <table  datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-striped table-bordered" style="width:100%"></table>
            </div>
        </div> -->

    </div>
</div>


<!-- Applicant Edit MODAL -->
<!-- <div class="modal fade" id="editApplicant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="myModalLabel">Edit Applicant</h5>
            </div>
            <div class="modal-body">
                
                   
                  
              

                    
                    
                  
                      
                    
                    
                    
                      
                   
                    
                    
               

                    
                    
             

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#personal_details">Personal Details</a></li>
                    <li><a data-toggle="tab" href="#address">Address</a></li>
                    <li><a data-toggle="tab" href="#loan_details">Loan Details</a></li>
                </ul>
                <form (ngSubmit)="onEdit(edit.value)" #edit="ngForm"> 
                    <div class="tab-content">
                        <div id="personal_details" class="tab-pane fade in active">

                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.name" #name="ngModel" placeholder="Enter Name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" placeholder="Enter email" name="email">
                            </div>

                            <div class="form-group">
                                <label for="pwd">Mobile Number:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.mobileNumber" #mobileNumber="ngModel" placeholder="Enter MobileNumber" name="mobileNumber">
                            </div>

                            <div class="form-group">
                                <label for="email">Dob:</label>
                                <input type="email" class="form-control" [(ngModel)]="model.dob" #dob="ngModel" placeholder="Enter Dob" name="dob">
                            </div>

                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <select class='select-option form-control' name="gender" required [(ngModel)]='model.gender' #gender="ngModel" >
                                    <option class='option' *ngFor='let option of genders' [value]="option.viewValue">{{option.viewValue}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="name">Pan Number:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.pan" #pan="ngModel" placeholder="Enter Pan Number" name="pan">
                            </div>

                            <div class="form-group">
                                <label for="pwd">AadharNumber:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.aadharNumber" #aadharNumber="ngModel" placeholder="Enter AadharNumber" name="aadharNumber">
                            </div>

                            <div class="form-group">
                                <label for="profession">Profession:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.profession" #profession="ngModel" placeholder="Enter Profession" name="profession">
                            </div>
                            
                            <div class="form-group">
                                <label for="annualIncome">Annual Income:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.annualIncome" #annualIncome="ngModel" placeholder="Enter Annual Income" name="annualIncome">
                            </div>

                        </div>
                        
                        <div id="address" class="tab-pane fade">

                            <div class="form-group">
                                <label for="pinCode">PinCode:</label>
                                <input type="number" class="form-control" [(ngModel)]="model.pinCode" #pinCode="ngModel" placeholder="Pin Code" name="pinCode">
                            </div>

                            <div class="form-group">
                                <label for="pwd">Address:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.address" #address="ngModel" placeholder="Enter Address" name="address">
                            </div>
                                
                            <div class="form-group">
                                <label for="email">City:</label>
                                <input type="email" class="form-control" [(ngModel)]="model.addressCity" #addressCity="ngModel" placeholder="Enter City" name="addressCity">
                            </div>
                            
                            <div class="form-group">
                                <label for="email">State:</label>
                                <input type="email" class="form-control" [(ngModel)]="model.addressState" #addressState="ngModel" placeholder="Enter State" name="addressState">
                            </div>
                                                    
                            <div class="form-group">
                                <label for="country">Country :</label>
                                <input type="text" class="form-control" [(ngModel)]="model.addressCountry" #addressCountry="ngModel" placeholder="Enter Country" name="addressCountry">
                            </div>

                            <div class="form-group">
                                <label for="landmark">Landmark:</label>
                                <input type="text" class="form-control" [(ngModel)]="model.landmark" #landmark="ngModel" placeholder="Enter Landmark" name="landmark">
                            </div>
                        </div>

                        <div id="loan_details" class="tab-pane fade">

                            <div class="form-group">
                                <label for="loanAmount">Loan Amount:</label>
                                <input type="number" class="form-control" [(ngModel)]="model.loanAmount" #loanAmount="ngModel" placeholder="Enter LoanAmount" name="loanAmount">
                            </div>
                            
                            <div class="form-group">
                                <label for="loanTenure">Loan Tenure:</label>
                                <input type="number" class="form-control" [(ngModel)]="model.loanTenure" #loanAmount="ngModel" placeholder="Enter LoanTenure" name="loanTenure">
                            </div>
                            
                            <div class="form-group">
                                <label for="loanType">LoanType:</label>
                                <select class='select-option form-control' name="loanType" required [(ngModel)]='model.loanType' #loanType="ngModel" >
                                    <option class='option' *ngFor='let option of ltypes' [value]="option.viewValue">{{option.viewValue}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="customerCategory">Customer Category:</label>
                                <select class='select-option form-control' name="customerCategory" required [(ngModel)]='model.customerCategory' #customerCategory="ngModel" >
                                    <option class='option' *ngFor='let option of customers' [value]="option.viewValue">{{option.viewValue}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="loanStatus">Loan Status:</label>
                                <select class='select-option form-control' name="loanStatus" required [(ngModel)]='model.loanStatus' #loanStatus="ngModel" >
                                    <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Edit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>   -->
<!--  End Modal -->

  



