<div class="image-container set-full-height" style="background-image: url('assets/img/wizard-profile.jpg')">
 
    <!--  Made By CredenceSoft  -->
    <a href="https://credencesoft.co.nz" class="made-with-mk">
      <div class="brand">CS</div>
      <div class="made-with">credencesoft
        <strong>.co.nz</strong>
      </div>
    </a>

    <div class="all-container">
            <!--   Big container   -->
    <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
          <!--      Wizard container        -->
          <div class="wizard-container text-center">
                <!-- <h1>Loan Originating System</h1> -->
              <div class="card wizard-card" data-color="green" id="wizardProfile">
                   <!-- <form action="" method=""> -->
                    <form (ngSubmit)="onRegister(registerForm.value)" #registerForm="ngForm"> 
               
                        <div class="wizard-header">
                            <h3 class="wizard-title">
                              LOS
                            </h3>
                            <h5>Sign Up</h5>
                        </div>
                    
                    <div>
                        <mat-form-field>
                            <input matInput id="firstName" maxlength="10" required type="text" [(ngModel)]="model.firstname" #firstName="ngModel" name="firstName" 
                            placeholder="First Name" >
                            <mat-error *ngIf="firstName.hasError('required')">First name must not be empty</mat-error>
                        
                        </mat-form-field>
                    </div>
                   <div>
                        <mat-form-field>
                            <input matInput id="lastName" maxlength="10" required type="text" [(ngModel)]="model.lastname" #lastName="ngModel" name="lastName" 
                                placeholder="Last Name" >
                                <mat-error *ngIf="lastName.hasError('required')">Last name must not be empty</mat-error>
                        
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput id="email" required email [(ngModel)]="model.email" #email="ngModel" name="email" 
                                placeholder="Email" >
                                <mat-error *ngIf="email.hasError('required')">Email must not be empty</mat-error>
                            <mat-error *ngIf="!email.hasError('required')">Email is Invalid</mat-error>
                        
                        </mat-form-field>
                    </div>
                    
                    
                    <div>
                        <mat-form-field>
                            <input matInput id="companyName" maxlength="30" required type="text" [(ngModel)]="model.companyName" #companyName="ngModel" name="companyName" 
                                placeholder="Company Name" >
                                <mat-error *ngIf="companyName.hasError('required')">company name must not be empty</mat-error>
                        
                        </mat-form-field>
                    </div>
                <div>
           
                              
                </div> 
                <!-- <div>
                        <mat-form-field class="center5" hintLabel="mobile should be 10 digit number">
                        <input matInput #input maxlength="10" required pattern="^[789]\d{9}$" placeholder="Mobile Number" [(ngModel)]="model.mobileNumber" #mobileNumber="ngModel"  name="mobileNumber">
                        <mat-hint align="end" >{{mobileNumber.value?.length}}/10</mat-hint>
                        <mat-error *ngIf="mobileNumber.hasError('required')">Mobile number must not be empty</mat-error>
                        <mat-error *ngIf="!mobileNumber.hasError('required')">Mobile number should be 10 digts number</mat-error>
                        </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="center4">
                            <mat-select placeholder="Designation" required #designation="ngModel" [(ngModel)]="model.designation" name="designation" >
                              <mat-option *ngFor="let designation of designations"   [value]="designation.value">
                                {{ designation.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="designation.hasError('required')">Designation must not be empaty</mat-error>
                          
                          </mat-form-field>
                          
                </div> -->
                
                    <div class="register-button">
                        <!--[disabled]="!registerForm.valid"-->
                        <button  type="submit"  [disabled]="!registerForm.valid"  class="btn btn-danger btn-round" data-toggle="modal" data-target="#signupModal">
                                Sign Up
                        </button>
                    </div>
                    <div class="already-signup">
                        <u [routerLink]="['/']">
                         Already an user ? Please signin here.
                        </u>
                      </div>
                </form>
</div>
</div>
</div>
</div>

</div>
<div class="footer">
        <div class="container text-center">
             Made with <i class="fa fa-heart heart"></i> by <a href="https://credencesoft.co.nz">CredenceSoft</a>. <br> <a href="https://credencesoft.co.nz">Copyright © 2018 CredenceSoft -  All Rights Reserved.</a>
        </div>
    </div>
</div></div>


  
  <!-- New User Signup Modal -->
  <div class="modal fade"  id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Signup Response</h5><span *ngIf="reponseWait">Response is on process please wait...<img style="height:100px;width:100px;" src="assets/img/loading.gif" /></span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="!signUpModalNewRegister">
            <span>You have successfully signup. A password link has been sent to your <strong>{{model.email}}</strong>. Please set the password and signin !</span>
        </div>
        <div class="modal-body" *ngIf="signUpModalOldRegister">
            <span>Email Id is already exist. Kindly enter new email Id !</span>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onSignUp()">Sign In</button>
        </div>
      </div>
    </div>
  </div>


   