<div class="image-container set-full-height">
   
    <!--  Made By CredenceSoft  -->
    <a href="https://credencesoft.co.nz" class="made-with-mk">
      <div class="brand">CS</div>
      <div class="made-with">credencesoft
        <strong>.co.nz</strong>
      </div>
    </a>
  
      <div class="all-container">
    
      <!--   Big container   -->
      <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <!--      Wizard container        -->
                <div class="wizard-container text-center">
                  <!-- <h1>Loan Originating System</h1> -->
                   <div class="card wizard-card" data-color="green" id="wizardProfile">
                      <form #forgotpasswordForm="ngForm" (ngSubmit)="forgotPassword(forgotpasswordForm.value)"> 
                          <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
    
                          <div class="wizard-header">
                              <h3 class="wizard-title">
                                  LOS
                              </h3>
                              <h5>Forgot Password</h5>
                          </div>
                          <div>
                            <mat-form-field class="center0">
                                <input matInput required placeholder="Email address" ngModel 
                                [pattern]="emailPattern"
                                #email="ngModel" email name="email">
                                <mat-error *ngIf="email.hasError('required')">Email must not be empty</mat-error>
                                <mat-error *ngIf="!email.hasError('required')">Email is Invalid</mat-error>
                            </mat-form-field>
                          </div>
                          <div class="register-button">
                              <button  type="submit"  [disabled]="!forgotpasswordForm.valid"  class="btn btn-danger btn-round" data-toggle="modal" data-target="#forgotPasswordModal">
                                  Forgot Password
                              </button>
                          </div>
                          <div class="already-signup">
                            <u [routerLink]="['/']">
                              Already an user ? Please signin here.
                            </u>
                          </div>
                      </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
          </div><!-- end row -->
      </div> <!--  big container -->
    
      <div class="footer">
          <div class="container text-center">
               Made with <i class="fa fa-heart heart"></i> by <a href="https://credencesoft.co.nz">CredenceSoft</a>. <br> <a href="https://credencesoft.co.nz">Copyright © 2018 CredenceSoft -  All Rights Reserved.</a>
          </div>
      </div>
  
      </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Forgot Password Response</h5><span *ngIf="reponseWait">Response is on process please wait...<img style="height:100px;width:100px;" src="assets/img/loading.gif" /></span>
          <div class="modal-body" *ngIf="!forgotPasswordExistingUser">
          <span>A reset password link has been sent to your mail id. Kindly reset your password and signin !</span>
        </div>
        <div class="modal-body" *ngIf="forgotPasswordNotAnUser">
          <span>Kindly signup ! Then reset your password</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="onForgotPassword()" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>