
   <div class="image-container set-full-height">
   
    <!--  Made By CredenceSoft  -->
    <a href="https://credencesoft.co.nz" class="made-with-mk">
      <div class="brand">CS</div>
      <div class="made-with">credencesoft
        <strong>.co.nz</strong>
      </div>
    </a>
  
      <div class="all-container">
    
      <!--   Big container   -->
      <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <!--      Wizard container        -->
                <div class="wizard-container text-center">
                  <!-- <h1>Loan Originating System</h1> -->
                   <div class="card wizard-card" data-color="green" id="wizardProfile">
                        <form (ngSubmit)="onLogin(loginForm.value)" #loginForm="ngForm">
                    <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
    
                    <div class="wizard-header">
                        <h3 class="wizard-title">
                          LOS
                        </h3>
                        <h5>Sign in</h5>
                    </div>
                        <div>
                          <mat-form-field class="center1">
                            <input matInput placeholder="Email" required name="email" ngModel #email="ngModel">
                          </mat-form-field>
                          <span *ngIf="email.touched && email.errors?.required">
                              email is required
                          </span>
                        </div>
                          <div>
                            <mat-form-field class="center2">
                              <input matInput placeholder="Password" required name="password" ngModel #password="ngModel">
                            </mat-form-field>
                            <span *ngIf="password.touched && password.errors?.required">
                                password is required
                            </span>
                        </div>
                        <div class="signin-button">
                          <button class="btn btn-danger btn-round">
                            Login
                          </button>
                        </div>
                        <div class="new-user-signup">
                          <u href="" [routerLink]="['/signup']">
                           New User ? Please signup here.
                          </u>
                        </div>
                        <div class="forget-password-link">
                          <u href="" [routerLink]="['/forgotPassword']">
                           Forget Password ? click here. 
                          </u>
                        </div>
                      </form>
                    </div>
                </div> <!-- wizard container -->
            </div>
          </div><!-- end row -->
      </div> <!--  big container -->
    
      <div class="footer">
          <div class="container text-center">
               Made with <i class="fa fa-heart heart"></i> by <a href="https://credencesoft.co.nz">CredenceSoft</a>. <br> <a href="https://credencesoft.co.nz">Copyright © 2018 CredenceSoft -  All Rights Reserved.</a>
          </div>
      </div>
  
      </div>
    </div>