@import url('../../../../assets/css/material-bootstrap-wizard.css');
.wizard-card{
  padding: 40px;
}
.image-container{
  background: #0052CC !important;
  display: table;
  width: 100%;
  height: 100%;
}

.wizard-container{
  padding-top: 0px;
}

.image-container .all-container{
  display: table-cell;
  vertical-align: middle;
}

.wizard-container h1{
  color:#fff;
  font-size:30px;
  margin: 0;
  margin-bottom: 40px;
  font-weight: bold;
}

.signin-button{
  position: static !important;
  margin: 0 auto !important;
  width: auto;
}

.signin-button .btn{
  width: 200px;
  margin-top: 20px;
}

.mat-form-field{
  display: initial !important;
}

.new-user-signup{
  position: static;
  margin: 0;
  width: auto;
  margin-top: 30px;
  cursor: pointer;
  font-weight: bold;
}

.forget-password-link{
  position: static;
  margin: 0;
  width: auto;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
}

.footer{
  bottom: 0px;
}
