.dashboard-content{
    height: auto;
    width: calc(100% - 300px);
    margin-left: 275px;
    padding: 15px;
    overflow: hidden;
    /* background: #fafafa ; */
}

.date-picker {
    margin: auto;
    margin-left: 10px;
    /* margin-right: 0px; */
    width: 47%;
    padding: 15px;
  }

.input-field {
    margin: auto;
    margin-left: 10px;
    /* margin-right: 0px; */
    width: 47%;
    padding: 15px;
  }

  .name-field-1 {
    float: left;
    width: 34%;
    padding: 15px;
  }

  .name-field-2 {
    content: "";
    clear: both;
    display: table;
  }



.hidden {
    display: none
}


.input-field-2 {
    /* margin: auto; */
    margin-left: 140px;
    margin-bottom: 40px;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 3px solid rgb(206, 206, 206); */
    border-radius: 10px;
  }


  .example-headers-align .mat-expansion-panel-header-title, 
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .address-details {
    margin-left: 400px;
    
  }

  .form-header {
    margin-left: 400px;
    
  }