<app-base></app-base>
<div class="dashboard-content">
  <button style="margin:50px" class="btn btn-default" data-toggle="modal" data-target="#demoModal">
      Bounce Reason Form
  </button>
</div>

<!--DEMO MODAL -->
<div class="modal fade" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notice">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
          <h5 class="modal-title" id="myModalLabel">Bounce Reason Master</h5>
        </div>
        <div class="modal-body">

          <form (ngSubmit)="bounceReasonMasterDetails(bounceReasonMaster.value)" #bounceReasonMaster="ngForm">
            <div class="form-group">
								<label>Reason</label>
								<input type="text" class="form-control" [(ngModel)]="model.reason" #reason="ngModel" placeholder="Reason" name="reason">
            </div>
            <div class="form-group">
                <label>Charges</label>
                  <div class="radio">
                    <label>
                      <input type="radio" name="charges" [(ngModel)]="model.charges" value="Yes" checked="true">
                      Yes
                    </label>
                    <label>
                      <input type="radio" name="charges" [(ngModel)]="model.charges" value="No">
                      No
                    </label>
                  </div>
            </div>
            <button class="btn btn-danger btn-round">
              Save
            </button>
          </form>
        
        </div>
      </div>
    </div>
  </div>  
<!--  End Modal -->