/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    height: 100%;
    width: 100%;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, a {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

.serif-font {
    font-family: "Roboto Slab", "Times New Roman", serif;
}


.wizard-card[data-color="red"] .moving-tab {
    background-color: #f44336;
    box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}
.wizard-card .moving-tab {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -4px;
    left: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.dashboard-content{
    height: auto;
    width: calc(100% - 300px);
    margin-left: 275px;
    padding: 15px;
    overflow: hidden;
    /* background: #fafafa ; */
}