.dashboard-content{
    height: auto;
    width: calc(100% - 300px);
    margin-left: 275px;
    padding: 15px;
    overflow: hidden;
    /* background: #fafafa ; */
}



  .input-field-2 {
    margin: auto;
    margin-left: 240px;
    margin-top: 70px;
    /* margin-bottom: 40px; */
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 3px solid rgb(206, 206, 206); */
    border-radius: 10px;
  }

  .input-field {
    margin: auto;
    margin-left: 15px;
    /* margin-right: 0px; */
    width: 47%;
    padding: 10px;
  }

  .input-button {
      margin: auto;
      margin-top: 50px;
      margin-left: 240px;
  }

  .input-heading {
      margin: auto;
      margin-left: 420px;
  }

  .search-box {
    width: 50%;
    margin-top:50px; 
    margin-left: 300px;
}

.has-search .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-search .form-control {
    padding-right: 12px;
    padding-left: 34px;
}


.example-headers-align .mat-expansion-panel-header-title, 
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
